<html>
<head>
  <title>Alpha Blog | About</title>
</head>
<div>
  <div>
    <h1 align="center">Alpha Blog - About</h1>
  </div>
  <div>
    <p style="text-align:center"><%= image_tag "http://www.theblogstarter.com/wp-content/uploads/2014/02/1.jpg"%></p>
  </div>
  <div>
    <table style="width:100%">
      <tr>
        <td>
          <p>I'm going to write my personal experiences here! </p>
          <p align="justify">Lorem ipsum dolor sit amet, eos ne nibh vocent. Eros alienum per ne. Vocibus mentitum interesset usu id. Dicam essent sadipscing has at. Mel id cetero eruditi, ignota reformidans his ad, mel et dicunt urbanitas.

            Ut has erat civibus, eu pro propriae vivendum. Ut prima inermis delicata sit, justo perfecto vim no. Rebum signiferumque no vim. Iudico vocent delenit vim et. Ex diam scripta nam, in has atqui impedit. Qui eu prima novum ubique, vix ad vide detracto deterruisset.

            At etiam senserit eam. Nisl suavitate ut nam, no mel sumo interpretaris. Tollit consul quo an. Dicant noluisse deseruisse at eos. Per ea inermis probatus, alterum appareat ei quo, paulo mnesarchum sit ne. Vim no delectus abhorreant.
          </p>
        </td>
        <td>
          <p>I'm going to write my technical experiences here! </p>
          <p align="justify">Lorem ipsum dolor sit amet, eos ne nibh vocent. Eros alienum per ne. Vocibus mentitum interesset usu id. Dicam essent sadipscing has at. Mel id cetero eruditi, ignota reformidans his ad, mel et dicunt urbanitas.

            Ut has erat civibus, eu pro propriae vivendum. Ut prima inermis delicata sit, justo perfecto vim no. Rebum signiferumque no vim. Iudico vocent delenit vim et. Ex diam scripta nam, in has atqui impedit. Qui eu prima novum ubique, vix ad vide detracto deterruisset.

            At etiam senserit eam. Nisl suavitate ut nam, no mel sumo interpretaris. Tollit consul quo an. Dicant noluisse deseruisse at eos. Per ea inermis probatus, alterum appareat ei quo, paulo mnesarchum sit ne. Vim no delectus abhorreant.
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <p align="center">This is going to be my footer</p>
    <p align="center"><%= link_to 'Home', root_path%></p>
  </div>
</div>
</html>
